body {
	width: 90%;
	margin: 0px auto;
}

#loginForm input#vcode {
	width: 55%;
}

#loginForm p img {
	width: 25%;
	float: left;
}

#detailsDiv {
	padding-left: 20px;
}

#modifyForm {
	margin: 0px 20px;
}

input.inputclass {
	width: 260px;
}