body{
	width:90%;
	margin:0px auto;
}

#loginDiv form{
	margin-left:20px;
}
#loginForm input#vcode {
	width: 65%;
	margin-left:6px;
}

#loginForm p img {
	width: 25%;
	vertical-align: top;
	float:left;
}

#detailsDiv{
	padding-left:20px;
}

#modifyForm{
	margin:0px 20px;
	
}


input.inputclass{width:260px;}